/* fonts */

@import url(//db.onlinewebfonts.com/c/1094504ae47cb9cfa800bc04261c211a?family=Geomanist);
@font-face {
    font-family: "Geomanist";
    src: url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.eot");
    src: url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.woff") format("woff"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.svg#Geomanist") format("svg");
}


/* reset & common styles */

body {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-2));
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Geomanist";
    letter-spacing: 2px;
    list-style-type: none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
    @include respond(small-desktop) {
        font-size: 59%; //1rem = 12, 12/16
    }
    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(phone) {
        // width < 900?
        font-size: 36%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(small-phone) {
        // width < 900?
        font-size: 36%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 95%; //1rem = 12, 12/16
    }
}