/* fonts */

@font-face {
    font-family: 'Quicksand';
    src: url('/Quicksand-Light.woff2') format('woff2'), url('/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/* reset & common styles */

body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-3));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    //font-family: 'Quicksand';
    //font-family: 'Walter Turncoat', cursive !important;
    letter-spacing: 2px;
    list-style-type: none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
    @include respond(small-desktop) {
        font-size: 59%; //1rem = 12, 12/16
    }
    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(phone) {
        // width < 900?
        font-size: 36%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(small-phone) {
        // width < 900?
        font-size: 36%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 95%; //1rem = 12, 12/16
    }
}

body {
    /* background: rgb(100, 0, 123); */
    background: radial-gradient(circle, #7E57C2 0%, #7E57C2 100%);
    overflow: visible;
}