    .container {
        max-width: 120rem;
        margin: 8rem auto;
        background-color: var(--color-grey-light-4);
        box-shadow: var(--shadow-dark);
        min-height: 50rem;
        border-radius: 100;
    }