// COLORS
$color-white: #fff;
$color-black: #000;
// FONT
$default-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
:root {
    --color-primary-1: #EE9999;
    --color-primary-3: #29386E;
    --color-primary-2: #D44529;
    --color-primary-4: #F77957;
    --color-text-: #57F7C9;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --color-success: #6fbf73;
    --color-error: #f44336;
    --color-warning: #f9a825;
    --color-info: #2196f3;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
    --line: 1px solid var(--color-grey-light-2);
    --gradient-primary: linear-gradient(to right bottom, #EE9999, #D44529);
}