.box1 {
    display: flex;
    flex-direction: row;
    padding: 3rem 0 3rem 10rem;
    // border: 1px solid black;
    &__batchDetail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // background-color: skyblue;
        &__title {
            color: black;
            cursor: pointer;
        }
        &__icon {
            align-self: center;
            height: 60%;
            width: 60%;
            padding: 0 2rem 0 2rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        // margin-left: 7rem;
    }
}

.box2 {
    // flex-direction: column;
    display: flex;
    flex-direction: row;
    &__title1 {
        color: white;
        border-radius: 10rem;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        pointer-events: none;
        background-color: green;
    }
    &__title2 {
        color: white;
        border-radius: 10rem;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        pointer-events: none;
        background-color: red;
        // font-size: 1.5rem;
    }
    &__title3 {
        color: white;
        border-radius: 10rem;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        pointer-events: none;
        background-color: orange;
    }
}