.box1 {
    display: flex;
    flex-direction: row;
    padding: 3rem 0 3rem 10rem;
    // border: 1px solid black;
    &__title {
        color: black;
        cursor: pointer;
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 7rem;
    }
}

.box2 {
    // flex-direction: column;
    display: flex;
    flex-direction: row;
    &__title1 {
        color: white;
        border-radius: 10rem;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        pointer-events: none;
        background-color: green;
    }
    &__title2 {
        color: white;
        border-radius: 10rem;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        pointer-events: none;
        background-color: red;
        // font-size: 1.5rem;
    }
    &__title3 {
        color: white;
        border-radius: 10rem;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        pointer-events: none;
        background-color: orange;
    }
}