/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --color-primary-1: #EE9999;
  --color-primary-3: #29386E;
  --color-primary-2: #D44529;
  --color-primary-4: #F77957;
  --color-text-: #57F7C9;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-green-light-1: #6fbf73;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
  --gradient-primary: linear-gradient(to right bottom, #EE9999, #D44529); }

/* fonts */
@font-face {
  font-family: "Geomanist";
  src: url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.eot");
  src: url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.woff") format("woff"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.svg#Geomanist") format("svg"); }

/* reset & common styles */
body {
  margin: 0;
  padding: 0;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-2));
  overflow-y: auto;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%; }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 90em) {
  html {
    font-size: 59%; } }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 36%; } }

@media only screen and (max-width: 23.75em) {
  html {
    font-size: 36%; } }

@media only screen and (min-width: 150em) {
  html {
    font-size: 95%; } }

.home__cont {
  background-color: var(--color-primary-3);
  z-index: -1;
  width: 100%; }

@media only screen and (max-width: 75em) {
  .home__cont {
    height: 58%; } }

@media only screen and (max-width: 56.25em) {
  .home__cont {
    height: 55%; } }

.home__cont__upper__text {
  text-align: center;
  padding: 5rem;
  justify-content: space-between; }

.home__cont__upper__text--title {
  color: #fff;
  font-size: 6rem;
  font-weight: 700; }

.home__cont__upper__text--content {
  color: #57F7C9;
  font-size: 3rem;
  font-weight: 400;
  width: 60%;
  margin: auto; }

.home__cont__upper__imgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 5rem 0; }

.home__cont__upper__imgCont--img {
  width: 35%;
  height: 35%; }

.home__cont__upper__imgCont .gif {
  align-self: flex-end;
  width: 7%; }

.home__cont__lower {
  background-color: #fff;
  padding: 5rem 10rem 5rem 10rem; }

.home__cont__lower__about {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 5rem; }

.home__cont__lower__about__text {
  width: 35%;
  align-self: center; }

.home__cont__lower__about__text--title {
  font-size: 3.7rem;
  color: var(--color-primary-3); }

.home__cont__lower__about__text--info {
  font-size: 2.3rem; }

.home__cont__lower__about__img {
  width: 25%; }

.home__cont__lower__about .ethGirl {
  width: 35%; }

.home__cont__lower__about__text:nth-of-type(1) {
  top: 10px; }

.authform {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto; }

.signup__cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff; }

.signup__cont__left {
  padding: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.signup__cont__left__title {
  margin: 0 0 2rem 0;
  color: black;
  font-size: 4rem; }

.signup__cont__left__inputCont {
  margin: 2rem 0 2rem 0;
  display: block;
  width: 30%;
  border-bottom: none;
  position: relative; }

.signup__cont__left__inputCont:after {
  content: "";
  background: -webkit-linear-gradient(left, #EE9999 0%, #D44529 100%);
  display: block;
  height: 8px;
  width: 100%;
  position: absolute; }

.signup__cont__left__inputCont__input {
  height: 100%;
  width: 100%;
  border: none;
  transition: all .3s linear;
  -webkit-appearance: none; }

.signup__cont__left__inputCont__input:focus {
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(0, 0, 0, 0.45); }

.signup__cont__left__otherCont {
  margin: 2rem 0 2rem 0; }

.signup__cont__left__submitBtn {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  width: 30%;
  background-image: linear-gradient(to right, var(--color-primary-1), var(--color-primary-2));
  color: #fff;
  border: none; }

.signup__cont__left__submitBtn span {
  transform: rotateX(90%); }

.signup__cont__left__msg {
  font-size: 2rem;
  color: #000; }

.signup__cont__left__msg__link {
  text-decoration: none;
  color: #D44529; }

.signup__cont__right {
  background-color: #f99;
  flex: 1; }

.container {
  max-width: 150rem;
  margin: 15rem auto;
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 1440px) {
  .container {
    max-width: 120rem;
    margin: 8rem auto; } }

@media only screen and (max-width: 75em) {
  .container {
    max-width: 100rem;
    margin: 8rem auto; } }

@media only screen and (max-width: 56.25em) {
  .container {
    max-width: 80rem;
    margin: 8rem auto; } }

@media only screen and (max-width: 37.5em) {
  .container {
    max-width: 70rem;
    margin: 8rem auto; } }

.page-enter {
  opacity: 0; }

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms; }

.page-exit {
  opacity: 1; }

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms; }

.header__cont {
  background-color: var(--color-primary-3);
  height: 10rem;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  flex-direction: row;
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between; }

.header__cont__logo {
  cursor: pointer;
  width: 9rem;
  height: 9rem;
  margin: 0 0rem 0 5rem;
  align-items: center;
  z-index: 999;
  margin-top: -10px; }

.header__cont__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%; }

.header__cont__title__text {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-grey-light-1);
  transition: all .35s ease; }

.header__cont__title__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--color-primary-4);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.header__cont__title__text:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.footer__cont {
  background-color: var(--color-primary-4);
  width: 100%;
  text-align: center;
  border-radius: 0 0 1rem 1rem; }

.footer__cont--text {
  font-size: 1.3rem;
  color: black; }

.verification__cont {
  background-color: var(--color-primary-3);
  padding: 2em;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-light-3); }

.verification__cont .verified__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.verification__cont .verified__cont .verified__icon {
  margin: 2em;
  color: var(--color-green-light-1); }

.verification__cont .loading__icon {
  animation: rotation 2s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
