/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
:root {
  --color-primary-1: #EE9999;
  --color-primary-3: #29386E;
  --color-primary-2: #D44529;
  --color-primary-4: #F77957;
  --color-text-: #57F7C9;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2); }

/* fonts */
@font-face {
  font-family: 'Quicksand';
  src: url("/Quicksand-Light.woff2") format("woff2"), url("/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/* reset & common styles */
body {
  margin: 0;
  padding: 0;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-2));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 90em) {
  html {
    font-size: 59%; } }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 36%; } }

@media only screen and (max-width: 23.75em) {
  html {
    font-size: 36%; } }

@media only screen and (min-width: 150em) {
  html {
    font-size: 95%; } }

.home__cont {
  background-color: var(--color-primary-3);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 60%; }

@media only screen and (max-width: 75em) {
  .home__cont {
    height: 58%; } }

@media only screen and (max-width: 56.25em) {
  .home__cont {
    height: 55%; } }

.home__cont__upper__text {
  text-align: center;
  padding: 5rem;
  justify-content: space-between; }

.home__cont__upper__text--title {
  color: #fff;
  font-size: 4rem; }

.home__cont__upper__text--content {
  color: #57F7C9;
  font-size: 2rem;
  width: 40%;
  margin-left: 30%; }

.home__cont__upper__imgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 5rem 0; }

.home__cont__upper__imgCont--img {
  width: 35%;
  height: 35%; }

.home__cont__upper__imgCont .gif {
  align-self: flex-end;
  width: 7%; }

.home__cont__lower {
  background-color: #fff;
  height: 100%;
  padding: 10rem; }

.home__cont__lower__about {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 5rem; }

.home__cont__lower__about__text {
  width: 35%;
  align-self: center; }

.home__cont__lower__about__text--title {
  font-size: 4rem;
  color: var(--color-primary-3); }

.home__cont__lower__about__text--info {
  font-size: 2.5rem; }

.home__cont__lower__about__img {
  width: 25%; }

.home__cont__lower__about .ethGirl {
  width: 35%; }

.container {
  max-width: 150rem;
  margin: 15rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 240rem;
  border-radius: 1rem;
  position: relative; }

@media screen and (max-width: 1440px) {
  .container {
    max-width: 120rem;
    margin: 8rem auto; } }

@media only screen and (max-width: 75em) {
  .container {
    max-width: 100rem;
    margin: 8rem auto; } }

@media only screen and (max-width: 56.25em) {
  .container {
    max-width: 80rem;
    margin: 8rem auto; } }

@media only screen and (max-width: 37.5em) {
  .container {
    max-width: 70rem;
    margin: 8rem auto; } }

.header__cont {
  background-color: var(--color-primary-3);
  height: 10rem;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  flex-direction: row;
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between; }

.header__cont__logo {
  cursor: pointer;
  width: 7rem;
  height: 7rem;
  margin: 0 0rem 0 5rem;
  align-items: center;
  z-index: 999; }

.header__cont__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%; }

.header__cont__title__text {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-primary-4);
  transition: all .35s ease; }

.header__cont__title__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-4);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.header__cont__title__text:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.footer__cont {
  background-color: var(--color-primary-4);
  bottom: 0px;
  position: absolute;
  width: 100%;
  text-align: center; }

.footer__cont--text {
  font-size: 2rem;
  color: black; }
